[user]
	name = Johnson Jia
	email = johnson.jia@live.com
[core]
	editor = nvim
	autocrlf = input
	safecrlf = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
